.titleHead {
    font-family: OpenSans;
    text-align: center;
    font-size: 200%
}

.inner{
    position: absolute;
    background-image: linear-gradient(to bottom,rgba(206,255,199,1), rgba(255,0,0,0));
    width: 100%; height: 60%; margin: 0; padding: 0;
    z-index: -1;
}

.center {
    position: static;
    border-radius: 50px;
    width: 60%;
}

.container{
    text-align: center;
}

@font-face { 
    font-family: OpenSans; 
    src: url('./fonts/openSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Dancing;
    src: url('./fonts/dancing/DancingScript-Regular.tff') format('truetype');
}

p {
    font-family: 'OpenSans';
}

.middleCard {
    font-family: 'OpenSans';
    text-align: center;
}

#table_body {
    font-family: 'OpenSans';
    text-align: center;
}

#table_body th {
    background-color: #4CAF50;
    color: white;
}