<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>
            Lumi Project
        </title>
    </head>
    <body>
        <div class="container">
            <p class="inner ">Something here.</p>
            <img src="{{ url_for('static', filename='pics/kubrick.jpg') }}" class="center" alt="Kubrick">
        </div>
        <p class="titleHead">Lumi Project</p>
        <br>
        <p class="middleCard">
            The perfect movie app for undecided people.
        </p>
        <br>
            <label for="fname">
                <p>Type in your movie's title:</p>
            </label>
            <form action="{{ url_for('main') }}" method="POST">
                <input type="text" id="movie_name" name="movie_name" placeholder="Ex: The Dark Knight">
                <input type="submit" id="submit_button" value="Submit">
            </form>
    </body>
</html>