<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>
            Lumi Project
        </title>
    </head>
    <body>
        <div class="container">
            <p class="inner ">Something here.</p>
            <img src="{{ url_for('static', filename='pics/kubrick.jpg') }}" class="center" alt="Kubrick">
        </div>
        <p class="titleHead">Lumi Project</p>
        <p class="middleCard">
            Why don't you try again with another movie?
        </p>
    </body>
</html>