<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>
            Lumi Project
        </title>
    </head>
    <body>
        <div class="container">
            <p class="inner ">Something here.</p>
            <img src="pics/kubrick.jpg" class="center" alt="Kubrick">
        </div>
        <p class="titleHead">Lumi Project</p>
        <br>
        <p class="middleCard">
            Oops! Looks like something went wrong. That's too bad!
        </p>
        <br>
    </body>
</html>