<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <style>
            table,tr,td,th{
                border: 1px solid black;
                border-collapse: collapse;
            }
            #movie_table tr:nth-child(even){background-color: #f2f2f2;}
            #movie_table tr:hover {background-color: #ddd;}
        </style>
        <title>
            Lumi Project
        </title>
    </head>
    <body>
        <div class="container">
            <p class="inner ">Something here.</p>
            <img src="{{ url_for('static', filename='pics/kubrick.jpg') }}" class="center" alt="Kubrick">
        </div>
        <p class="titleHead">Lumi Project</p>
        <p class="middleCard">
            The perfect app for undecided people.
        </p>
        <div class="movie">
            <h3>
                <p class="middleCard"> Recommendations based on {{ search_name }} </p>
            </h3>
            <table id="movie_table" align="center">
                <tr>
                    <th> <p class="middleCard"> Movie Title </p></th>
                </tr>
                <tbody class="table_body">
                    <tr>
                        <td> <p class="middleCard"> {{ movie_names[0] }}</p></td>
                    </tr>
                    <tr>
                        <td> <p class="middleCard">{{ movie_names[1] }}</p></td>
                    </tr>
                    <tr>
                        <td> <p class="middleCard">{{ movie_names[2] }}</p></td>
                    </tr>
                    <tr>
                        <td> <p class="middleCard">{{ movie_names[3] }}</p></td>
                    </tr>
                    <tr>
                        <td> <p class="middleCard">{{ movie_names[4] }}</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>